:root {
  --fontColour: #a1b6cc;
  --font: sans-serif;
  --font-size: 1.8rem;
}
@font-face {
  font-family: "MyCustomFont";
  src: url(myFnont_Img/Norse-Bold.otf);
}

h1,h2,h3,h4,h5,figure,p,ol,ul {
  margin: 0;
}

ol,ul {
  list-style: none;  padding-inline: 0;
}

h1,h2,h3,h4,h5 {
  font-size: inherit;  font-weight: inherit;
}
/* START READING FROM HERE TO THE END(UP IS JUST THE BASIC STYLING) */
body {
  /* border: 1px solid red; */
  margin: 0;padding: 0;height: 100vh;background-color: rgb(0, 2, 29);background-image: url(myFnont_Img/giphy.gif);background-size: 70vh;background-repeat: no-repeat;
}

#just-odin {
  font-family: "MyCustomFont", sans-serif;font-size: 6rem;color: aliceblue;
}

.logo {
  height: 20vh;
}

.logo-stuff {
  width: 15%;display: flex;align-items: center;margin: 40px;position: fixed;
}

.secando-halfo {
  display: flex;  justify-content: flex-end;  flex-direction: row;  flex-wrap: wrap;
}

.context-talk {
  font-family: var(--font);  font-size: var(--font-size);  color: var(--fontColour);  box-shadow: 2px 2px 5px 20px rgb(0, 2, 25);  display: flex;  flex-basis: 60%;  margin-top: 90px;
}

a {
  font-family: var(--font);  font-size: var(--font-size);  color: var(--fontColour);  display: flex;  width: 100%;  justify-content: center;
}

input {
  padding: 12px;  border: 1px solid #ccc;  border-radius: 4px;  box-sizing: border-box;  margin-top: 6px;  margin-bottom: 16px;
}

form {
  font-family: var(--font);  font-size: var(--font-size);  color: var(--fontColour);  display: flex;  flex-wrap: wrap;  margin-left: 600px;
}
form > div {
  flex-basis: 50%;
}
